body {
    background-image: url('hub-img/hub.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-position: 50%;
    background-size: 75%
  }

.ship{
    z-index: 1000000;
    width: 10%;
  }